#topbar{
  text-align: center;
  background-color: white;
}


#sidebar{
  background-color: #006400;
  text-align: justify;
  padding-left: 35px;
}

#breakfast{
  text-align: left;
  background-color: white;
  list-style: none;
}

.food{
  font-size: 12px;
}

#lunch{
  text-align: left;
  background-color: white;
  list-style: none;
}

#dinner{
  text-align: left;
  background-color: white;
  list-style: none;
}

#disclaimer{
  text-align: center;
  margin-top: 30px;
}
